{
	"_comment" : {
		"name" : "Package name",
		"version" : "Version of the package",
		"main" : "main one comment",
		"repository.type" : "type of the repository"
	},
  "name": "http-server",
  "version": "0.8.0",
  "description": "A simple zero-configuration command-line http server",
  "main": "./lib/http-server",
  "repository": {
    "type": "git",
    "url": "git://github.com/indexzero/http-server.git"
  }
}